@import "tailwindcss";

body {
  margin: 20px;
  /* background-color: #141414; */
}

.btn-custom {
  padding: 0.5rem 2rem;
  border-radius: 6px;
  background-color: #333333;
  color: #fff;
  width: 80%;
}

.btn-custom:hover {
  color: #fff;
  background-color: #4d4d4d;
}
